* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-header-background-color: #ffcd00;
  --main-body-background-color: #f2f3f3;
  --affiche-font-color: #fafafa;
}

.main_header {
  background-color: var(--main-header-background-color);

  display: flex;
  justify-content: center;
}

.main_header_nav {
  width: 50%;
}

.main_header_nav ul {
  display: flex;
  justify-content: space-around;
}

.main_header_nav li {
  list-style-type: none;
}

.body {
  background-color: var(--main-body-background-color);

  min-height: 100vh;
}

/*listFilms.php*/
.film_container {
  padding: 50px 20px 20px 20px;

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Colonnes adaptatives */
  column-gap: 20px; /* Espacement entre les films */
  row-gap: 50px;

  justify-items: center;
}

.film {
  position: relative;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;

  width: 200px;

  text-align: center;
}

.film_affiche {
  aspect-ratio: 3/4;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.film_affiche img {
  width: 100%; /* L'image prend toute la largeur de .film_affiche */
  height: 100%; /* L'image prend toute la hauteur de .film_affiche */
  object-fit: cover; /* L'image est ajustée sans distorsion, coupant les bords si nécessaire */
  object-position: center; /* Centrer l'image en cas de découpe */
}

.note_film {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent à 50% */
  color: white; /* Texte en blanc pour le contraste */
  border-radius: 5px; /* Optionnel : ajoute des coins arrondis */
}

.film_infos {
  position: absolute;
  bottom: 0;
  color: var(--affiche-font-color);

  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.5); /* Fond noir transparent à 50% */
  border-radius: 5px; /* Optionnel : ajoute des coins arrondis */
}

.film_infos a {
  color: var(--affiche-font-color);
  text-decoration: none;
}

.film_infos a:hover {
    text-decoration: underline;
}

/*TMP*/

.main_header,
.body,
.main_header_nav,
.figure,
.note_film {
  outline: auto;
}
