* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-header-background-color: #ffcd00;
  --main-body-background-color: #f2f3f3;
  --affiche-font-color: #fafafa;
  --main-font-family: Arial, Helvetica, sans-serif;
}

.main_header {
  background-color: var(--main-header-background-color);

  display: flex;
  justify-content: center;
}

.main_header_nav {
  width: 50%;
}

.main_header_nav ul {
  display: flex;
  justify-content: space-around;
}

.main_header_nav li {
  list-style-type: none;
}

.body {
  background-color: var(--main-body-background-color);

  min-height: 100vh;

  /* padding: 250px; */
}

/*listFilms.php*/
.film_container {
  padding: 50px 20px 20px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(200px, 1fr));
  /* Colonnes adaptatives */
  column-gap: 20px;
  /* Espacement entre les films */
  row-gap: 50px;

  justify-items: center;
}

.film {
  position: relative;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;

  width: 200px;

  text-align: center;
}

.film_affiche,
.acteur_affiche {
  aspect-ratio: 3/4;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.film_affiche img,
.acteur_affiche img {
  width: 100%;
  /* L'image prend toute la largeur de .film_affiche */
  height: 100%;
  /* L'image prend toute la hauteur de .film_affiche */
  object-fit: cover;
  /* L'image est ajustée sans distorsion, coupant les bords si nécessaire */
  object-position: center;
  /* Centrer l'image en cas de découpe */

  transition: 0.3s;
}

.film_affiche img:hover,
.acteur_affiche img:hover {
  transform: scale(1.05);
}

.note_film {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fond noir transparent à 50% */
  color: white;
  /* Texte en blanc pour le contraste */
  border-radius: 5px;
  /* Optionnel : ajoute des coins arrondis */

  font-family: var(--main-font-family);
}

.film_infos,
.acteur_infos {
  position: absolute;
  bottom: 0;
  color: var(--affiche-font-color);

  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  /* Fond noir transparent à 50% */
  border-radius: 5px;
  /* Optionnel : ajoute des coins arrondis */

  font-family: var(--main-font-family);
}

.film_infos a,
.acteur_infos a {
  color: var(--affiche-font-color);
  text-decoration: none;
}

.film_infos a:hover,
.acteur_infos a:hover {
  text-decoration: underline;
}

/*listActeurs.php*/

.acteur_container {
  padding: 50px 20px 20px 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill,
      minmax(150px, 1fr));
  /* Colonnes adaptatives */
  column-gap: 20px;
  /* Espacement entre les films */
  row-gap: 50px;

  justify-items: center;
}

.acteur {
  position: relative;

  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;

  width: 150px;

  text-align: center;
}

/*detailActeur.php*/

.acteur_cont {
  padding: 50px 20px 20px 20px;
  display: flex;
  gap: 20px;

  font-family: var(--main-font-family);
}


.photo_acteur {
  aspect-ratio: 3/4;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
}

.photo_acteur img {

  width: 100%;
  /* L'image prend toute la largeur de .film_affiche */
  height: 100%;
  /* L'image prend toute la hauteur de .film_affiche */
  object-fit: cover;
  /* L'image est ajustée sans distorsion, coupant les bords si nécessaire */
  object-position: center;
  /* Centrer l'image en cas de découpe */
}

.desc_acteur {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enonce_acteur {
  padding-left: 20px;

  font-family: var(--main-font-family);
}

/*detailFilm.php*/

.film_cont, .detail_cont {
  padding: 50px 20px 20px 20px;
  display: flex;
  gap: 20px;

  font-family: var(--main-font-family);
}


.affiche_film {
  aspect-ratio: 3/4;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
}

.affiche_film img {

  width: 100%;
  /* L'image prend toute la largeur de .film_affiche */
  height: 100%;
  /* L'image prend toute la hauteur de .film_affiche */
  object-fit: cover;
  /* L'image est ajustée sans distorsion, coupant les bords si nécessaire */
  object-position: center;
  /* Centrer l'image en cas de découpe */
}

.desc_film {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enonce_film {
  padding-left: 20px;

  font-family: var(--main-font-family);
}

.detail_cont{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/*TMP*/

.main_header,
.body,
.main_header_nav,
.figure {
  outline: auto;
}